@font-size-base: 14px; // 主字号
@primary-color: #1890ff; // 全局主色
@primary-color-secondary: #40a9ff; // 全局主色
@success-color: #52c41a; // 成功色
@success-color-secondary: #73d13d; // 成功浅色
@warning-color: #faad14; // 警告色
@warning-color-secondary: #ffc53d; // 警告浅色
@error-color: #f5222d; // 错误色
@error-color-secondary: #ff4d4f; // 错误浅色
@heading-color: rgba(0, 0, 0, 0.85); // 标题色
@text-color: rgba(0, 0, 0, 0.65); // 主文本色
@text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
@disabled-color: rgba(0, 0, 0, 0.25); // 失效色
@border-radius-base: 2px; // 组件/浮层圆角
@border-color-base: #d9d9d9; // 边框色
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
0 9px 28px 8px rgba(0, 0, 0, 0.05); // 浮层阴影

@search-box-width: 240px; // input/select 宽度
